html, body {
	font-family: Lato;
	background-color: #2962FF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

input {
	height: 2.5em;
	border-radius: 3px;
}

#ring-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-family: inherit;
	margin: 1em;
	padding: 1em 2em;
	color: white;
	font-weight: 400;
	border-radius: 5px;
	background: none;
	border: 2px solid;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#error {
	color: red;
}
